#slider__wrap {
    padding: 30px;
    border-top: 1px solid var(--black300);

    h2 {
        margin-bottom: 10px;
        color: var(--white);
        font-size: 1.8rem;
    }

    div {
        display: flex;

        div {
            div {
                margin-bottom: 20px;

                .swiper-slide-content {
                    display: flex;
                    flex-direction: column;
                    height: auto;

                    img {
                        display: block;
                        width: 90%;
                        height: auto;
                        /* height를 auto로 설정하여 이미지가 부모의 너비에 맞춰 자동 조정되도록 함 */
                        aspect-ratio: 1 / 1;
                        /* aspect-ratio를 사용하여 1:1 비율 유지 */
                        object-fit: cover;
                    }

                    p {
                        font-size: 1.7rem;
                        color: var(--white);
                        display: block;
                        margin-top: 2px;
                        text-align: center;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        /* 두 줄로 고정 */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 3em;
                        /* 두 줄 높이에 맞게 설정 */
                    }
                }
            }
        }
    }

    .swiper-container {
        width: 100%;
        height: auto;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        background: var(--black300);
        padding: 10px;
        box-sizing: border-box;

        .swiper-slide-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--black300);
            border-radius: 15px;
            padding: 10px;
            width: 100%;
            height: 100%;
        }
    }

    .swiper-scrollbar {
        margin: 10px 0 0 0;
        background-color: var(--black300);
        /* 스크롤바 배경색 */
        height: 5px;
        /* 스크롤바 높이 */
    }

    .swiper-scrollbar-drag {
        background-color: var(--black200);
        /* 드래그 가능한 스크롤바 색상 */
    }
}
